<section id="our-service">
    <div id="our-service-box">
    <div class="our-service-div" id="our-service-div-picture">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Chat_mi-long.jpg" alt="our-service-icon" id="our-service-img">
    </div>
    <div class="our-service-div" id="our-service-div-box">
    
        <div id="our-service-card">
            <h2>Our Services</h2>
            <p>
                Dans le contexte actuel où la concurrence pour les meilleurs talents s’intensifie, les 
incubateurs et entreprises sont confrontés à une problématique majeure : optimiser le 
processus de recrutement afin de dénicher rapidement et efficacement le candidat 
idéal. Les recruteurs doivent souvent analyser un volume élevé de CVs et d’informations 
hétérogènes, tout en vérifiant la réputation des établissements et des entreprises mentionnés 
ainsi que si les compétences du candidat sont bien à jour ou sont suffisantes. Cette surcharge 
de travail impacte la qualité du screening initial et retarde les prises de décision. Ainsi, les 
RH pourront se concentrer sur d’autres tâches plus urgentes et essentielles non 
automatisables. Dans un marché de plus en plus compétitif, il devient donc essentiel de 
s’appuyer sur des outils technologiques à la fois performants, précis, innovants et 
capables d’apporter des informations clés en temps réel. 
Afin de répondre à cette problématique, nous proposons la mise en place d’un chatbot basé 
sur des grands modèles de langage (LLM : Large Language Model) ou sur une approche 
de Génération augmentée par la recherche (RAG : Retrieval-Augmented Generation). 
Cet outil permettra de poser des questions pertinentes sur des CVs importés au format PDF 
et d’extraire efficacement les informations essentielles. L’objectif est de fournir un assistant 
virtuel capable d’analyser le parcours du candidat, d’évaluer la renommée de ses 
établissements de formation, de valider son expérience au sein d’entreprises 
reconnues, et d’apprécier la pertinence de ses compétences. En complément, le chatbot 
pourra générer une proposition de rémunération en se basant sur divers facteurs : le 
niveau d’expérience, le prestige de l’école ou de l’université, la grille salariale et le secteur 
d’activité de l’entreprise, ainsi que le poste visé. Ce calcul permettra d’offrir une estimation 
adaptée et personnalisée pour chaque candidat. 
Les bénéfices clés sont multiples : gain de temps considérable pour les équipes de 
recrutement, meilleure qualité d’analyse et de filtrage des profils, ainsi qu’une 
expérience candidat améliorée grâce à un processus plus rapide et personnalisé.
            </p>
        </div>
    </div>
</div>
    <div id="our-service-space"></div>
</section> 


<!--
<section id="our-prices">
    <h2>Nos tarifs</h2>
    <div id="our-prices-div-card" >
        <div id="our-prices-card" >
            <h3>Basic</h3>
            <p>Our basic plan is perfect for small businesses that are just getting started. With this plan, you get access to all of our basic services, including marketing, sales, and operations. This plan is perfect for businesses that are just starting out and need help getting off the ground.</p>
            <p>Price: $99 per month</p>
        </div>
        <div id="our-prices-card" >
            <h3>Basic</h3>
            <p>Our basic plan is perfect for small businesses that are just getting started. With this plan, you get access to all of our basic services, including marketing, sales, and operations. This plan is perfect for businesses that are just starting out and need help getting off the ground.</p>
            <p>Price: $99 per month</p>
        </div>
    </div>
</section>

<section>
    <div id="div-wave">

    </div>
</section>
-->