<section id="our-service">
    <div id="our-service-box">
    <div class="our-service-div" id="our-service-div-picture">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Chat_mi-long.jpg" alt="our-service-icon" id="our-service-img">
    </div>
    <div class="our-service-div" id="our-service-div-box">
    
        <div id="our-service-card">
            <h2>Our Services</h2>
            <p>Our services are designed to help you succeed in your business. We offer a wide range of services to help you grow your business. Our team of experts will work with you to create a customized plan that meets your needs. Whether you need help with marketing, sales, or operations, we have the expertise to help you succeed.</p>
        </div>
    </div>
</div>
    <div id="our-service-space"></div>
</section> 

<section id="our-prices">
    <h2>Nos tarifs</h2>
    <div id="our-prices-div-card" >
        <div id="our-prices-card" >
            <h3>Basic</h3>
            <p>Our basic plan is perfect for small businesses that are just getting started. With this plan, you get access to all of our basic services, including marketing, sales, and operations. This plan is perfect for businesses that are just starting out and need help getting off the ground.</p>
            <p>Price: $99 per month</p>
        </div>
        <div id="our-prices-card" >
            <h3>Basic</h3>
            <p>Our basic plan is perfect for small businesses that are just getting started. With this plan, you get access to all of our basic services, including marketing, sales, and operations. This plan is perfect for businesses that are just starting out and need help getting off the ground.</p>
            <p>Price: $99 per month</p>
        </div>
    </div>
</section>

<section>
    <div id="div-wave">

    </div>
</section>